body {
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%) !important;
}

h2,
h5 {
    color: #0c7c1b;
    text-align: center;
}

label {
    color: #fff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #0c7c1b;
}

form {
    width: 50%;
    display: inline-block;
}

.form {
    display: block;
    text-align: center;
}

.btn-primary {
    border: none !important;
    background-color: #0c7c1b !important;
}